<component class="masonry infographic {{ component.infographic_type }}{% if not component.infographic_link %} grid-style{% endif %}">
    {% if component.infographic_link %}<a href="{{ component.infographic_link }}" class="grid-style">{% endif %}
    
    {% if component.infographic_type == 'Icon' %}
        <div class="shape {{ component.infographic_shape }} {{ component.infographic_background_color }}">
            <div class="amount">{{ component.infographic_amount }}</div>
        </div>
    {% endif %}

    {% if component.infographic_type == 'Pie' %}
       <div class="pie-chart" data-total="{{ component.total }}">
            <svg viewBox="0 0 100 100">
                {% for slice in component.slices %}
                    <circle 
                    r="25%" 
                    cx="50%" 
                    cy="50%" 
                    class="circle {{ slice.color }}" 
                    stroke-width="50"
                    title="{{ slice.value }}">
                    </circle>
                {% endfor %}
            </svg>
       </div>

       <div class="pie-key">
        <ul>
        {% for slice in component.slices %}
            <li class="key {{ slice.color }}">{{ slice.label }} {{ slice.value|number_format }}</li>
        {% endfor %}
        </ul>
       </div>
    {% endif %}

    <div class="caption">{{ component.infographic_caption }}</div>
    {% if component.infographic_link %}</a>{% endif %}
</component>        